<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">-->
<!--    <link rel="stylesheet" href="./static/bootstrap-5.2.1-dist/css/bootstrap.min.css">-->
<!-- MDB -->
<!--    <link  href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.css" rel="stylesheet"/>-->
    <link rel="stylesheet" href="{{ url_for('static', filename='MDB5-STANDARD-UI-KIT-Free-5.0.0/css/mdb.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>

<!--    HEADER-->
<div class="sticky-top">
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
<!--            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>-->
            <span class="fs-4">iBiturient</span>
          </a>

          <ul class="nav nav-pills">
            <li class="nav-item"><a href="/" class="nav-link {% block home %} {% endblock %}" aria-current="page">Главная</a></li>
            <li class="nav-item"><a href="/directions" class="nav-link {% block directions %} {% endblock %}">Направления</a></li>
            <li class="nav-item"><a href="/create" class="nav-link {% block create %} {% endblock %}">Создать</a></li>
            <li class="nav-item"><a href="/login" class="nav-link {% block login %} {% endblock %}">
                {% if current_user.is_authenticated %}
                    <b>{{ current_user.name }}</b>
                {% else %}
                    Войти
                {% endif %}
            </a></li>
          </ul>
        </header>
    </div>
</div>


<!--    BODY-->
    <div class="container">
        {% block body %} {% endblock %}
    </div>

<!--FOOTER-->
    <div class="container">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-muted">© 2022 Company, Inc</p>

        <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        iBiturient
            <!--          <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>-->
        </a>

        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Главная</a></li>
            <li class="nav-item"><a href="/directions" class="nav-link">Направления</a></li>
            <li class="nav-item"><a href="/create" class="nav-link">Создать</a></li>
            <li class="nav-item"><a href="/universities" class="nav-link">ВУЗы</a></li>
            <li class="nav-item"><a href="/forum" class="nav-link">Форум</a></li>
            <li class="nav-item"><a href="/events" class="nav-link">События</a></li>
        </ul>
      </footer>
    </div>

</body>
</html>