{% extends 'base.html' %}

<!--Display active page button (toggle classes for buttons)-->
<!--{% block home %}-->

<!--{% endblock %}-->

<!--{% block directions %}-->

<!--{% endblock %}-->

<!--{% block create %}-->

<!--{% endblock %}-->

{% block login %}
active
{% endblock %}

{% block title %}
Вход
{% endblock %}

{% block body %}

<!-- MDB -->
<!--<link  href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.css" rel="stylesheet"/>-->


  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
      <!-- Pills navs -->
      <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="tab-login" data-mdb-toggle="pill" href="#pills-login" role="tab"
            aria-controls="pills-login" aria-selected="true">Login</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="tab-register" data-mdb-toggle="pill" href="#pills-register" role="tab"
            aria-controls="pills-register" aria-selected="false">Register</a>
        </li>
      </ul>
      <!-- Pills navs -->

      <!-- Pills content -->
      <div class="tab-content">
        <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
          <form method="post">
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" name="loginEmail" id="loginEmail" class="form-control" maxlength="20" required/>
              <label class="form-label" for="loginEmail">Email</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="password" name="loginPassword" id="loginPassword" class="form-control" minlength="4" maxlength="30" required/>
              <label class="form-label" for="loginPassword">Password</label>
            </div>

            <!-- 2 column grid layout -->
            <div class="row mb-4">
              <div class="col-md-6 d-flex justify-content-center">
                <!-- Checkbox -->
                <div class="form-check mb-3 mb-md-0">
                  <input class="form-check-input" type="checkbox" value="" id="loginCheck" checked />
                  <label class="form-check-label" for="loginCheck"> Remember me </label>
                </div>
              </div>

              <div class="col-md-6 d-flex justify-content-center">
                <!-- Simple link -->
                <a href="#!">Forgot password?</a>
              </div>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

            <!-- Register buttons -->
            <div class="text-center">
              <p>Not a member? <a href="#pills-register">Register</a></p>
            </div>
          </form>
        </div>
        <div class="tab-pane fade" id="pills-register" role="tabpanel" aria-labelledby="tab-register">
          <form method="post" action="/register">
            <!-- Username input -->
            <div class="form-outline mb-4">
              <input type="text" name="registerUsername" id="registerUsername" class="form-control" minlength="3" maxlength="10" required/>
              <label class="form-label" for="registerUsername">Username</label>
            </div>

            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" name="registerEmail" id="registerEmail" class="form-control" maxlength="20" required/>
              <label class="form-label" for="registerEmail">Email</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="password" name="registerPassword" id="registerPassword" class="form-control" minlength="4" maxlength="30" required/>
              <label class="form-label" for="registerPassword">Password</label>
            </div>

            <!-- Repeat Password input -->
            <div class="form-outline mb-4">
              <input type="password" name="registerRepeatPassword" id="registerRepeatPassword" class="form-control" minlength="4" maxlength="30" required/>
              <label class="form-label" for="registerRepeatPassword">Repeat password</label>
            </div>

            <!-- Checkbox -->
            <div class="form-check d-flex justify-content-center mb-4">
              <input class="form-check-input me-2" type="checkbox" value="" id="registerCheck" checked
                aria-describedby="registerCheckHelpText" disabled/>
              <label class="form-check-label" for="registerCheck">
                I have read and agree to the terms
              </label>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-3">Sign in</button>
          </form>
        </div>
      </div>
      <!-- Pills content -->
    </div>
    <div class="col-sm">
    </div>
  </div>

<!--Errors-->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
          {{ message }}
          <a href="/login"><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></a>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}



<!-- MDB -->
<script type="text/javascript" src="./static/MDB5-STANDARD-UI-KIT-Free-5.0.0/js/mdb.min.js"></script>
<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.js"></script>-->
{% endblock %}

